@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-app-rgb: 244, 245, 247; /* #F4F5F7 */

    --color-primary-900: 74, 109, 255; /* #4A6DFF */
    --color-primary-800: 92, 124, 255; /* #5C7CFF */
    --color-primary-700: 110, 138, 255; /* #6E8AFF */
    --color-primary-600: 128, 153, 255; /* #8099FF */
    --color-primary-500: 146, 167, 255; /* #92A7FF */
    --color-primary-400: 164, 182, 255; /* #A4B6FF */
    --color-primary-300: 183, 197, 255; /* #B7C5FF */
    --color-primary-200: 201, 211, 255; /* #C9D3FF */
    --color-primary-100: 219, 226, 255; /* #DBE2FF */
    --color-primary-50: 228, 233, 255; /* #E4E9FF */

    --color-secondary-900: 42, 45, 83; /* #2A2D53 */
    --color-secondary-800: 63, 66, 100; /* #3F4264 */
    --color-secondary-700: 85, 87, 117; /* #555775 */
    --color-secondary-600: 106, 108, 135; /* #6A6C87 */
    --color-secondary-500: 127, 129, 152; /* #7F8198 */
    --color-secondary-400: 148, 150, 169; /* #9496A9 */
    --color-secondary-300: 170, 171, 186; /* #AAABBA */
    --color-secondary-200: 191, 192, 203; /* #BFC0CB */
    --color-secondary-100: 212, 213, 221; /* #D4D5DD */
    --color-secondary-50: 223, 223, 229; /* #DFDFE5 */

    --color-success: 0, 192, 115; /* #00C073 */
    --color-warning: 255, 153, 0; /* #FF9900 */
    --color-error: 255, 71, 87; /* #FF4757 */
    --color-red-500: 239, 68, 68; /* #EF4444 */
    --color-red-300: 252, 165, 165; /* #FCA5A5 */
  }
}

@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-lg bg-gray-100 text-secondary-900 border border-gray-100 outline-none duration-200 transition-all ease-in-out hover:border-primary-300 focus:outline-none focus:border-primary-300 focus:bg-white;
  }
  .btn {
    @apply rounded-md transition-all duration-300;
  }
  .btn--primary {
    @apply px-5 py-3 bg-red-800 text-white hover:bg-red-900;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  background-color: var(--background-app-rgb);
}
